<!DOCTYPE html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>Welcome to the Forum Application!</p>

    <!-- Add links to other pages -->
    <ul>
      <li><a href="/topics">Topics</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/Register">Register</a></li>
      <li><a href="/listposts">List of Posts</a></li>
    </ul>
  </body>
</html>
