<!DOCTYPE html>
<html>
  <head>
    <!-- Head section with the title and link to the main CSS file -->
    <title>About <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Body section starts here -->

    <!-- Heading with the shop name dynamically inserted -->
    <h1>About <%=shopName%></h1>

    <!-- Paragraph with a welcome message -->
    <p>Welcome to the Forum Application!</p>

    <!-- List of links to other pages -->
    <ul>
      <li><a href="/topics">Topics</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/addposts">Add Post</a></li>
      <li><a href="/listposts">List of Posts</a></li>
    </ul>

    <!-- Body section ends here -->
  </body>
</html>
