<!-- index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <!-- Head section with the title and a link to the main CSS file -->
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Body section starts here -->

    <!-- Main heading with a welcome message and the shop name -->
    <h1>Welcome to <%=shopName%></h1>

    <!-- Navigation links to various pages -->
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="topics">Topics</a></p>
    <p><a href="Register">Register</a></p>
    <p><a href="users">Users</a></p>
    <p><a href="search">Search</a></p>
    <p><a href="addposts">Add a post</a></p>
    <p><a href="listposts">List of Posts</a></p>

    <!-- Body section ends here -->
  </body>
</html>
