<!-- index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="topics">Topics</a></p>
    <p><a href="users">Users</a></p>
    <p><a href="search">Search</a></p>
    <p><a href="addposts">Add a post</a></p>
    <p><a href="listposts">List of Posts</a></p>
    <p><a href="deleteposts">Delete a Post</a></p>
    <p><a href="Register">Register</a></p>
  </body>
</html>
