<!-- posts.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>List of Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>List of Posts</h1>
    <ul>
      <% for(let i = 0; i < forumPosts.length; i++) { %>
      <li>
        <%= forumPosts[i].id %> - <%= forumPosts[i].user_id %> - <%=
        forumPosts[i].content %> - <%= forumPosts[i].created_at %>
      </li>
      <% } %>
    </ul>
  </body>
</html>
