<!DOCTYPE html>
<html>
  <head>
    <title>Register for <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopName%></h1>
    <form method="POST" action="/registered">
      <p>
        Your Unique ID:
        <input id="id" type="text" name="id" value="id" />
      </p>
      <p>
        Username:
        <input id="username" type="text" name="username" value="username" />
      </p>
      <p>Email: <input id="email" type="email" name="email" value="email" /></p>
      <p>
        Password:
        <input
          id="password"
          type="passsword"
          name="password"
          value="password"
        />
      </p>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
